// Tiptap Styles
// ====================================================
.ProseMirror {
	width: 100%;

	// placehoder
	// --------------------------------------------------
	.is-empty::before {
		content: attr(data-placeholder);
		float: left;
		color: #ced4da;
		pointer-events: none;
		height: 0;
	}

	// common
	// --------------------------------------------------
	* {
		caret-color: currentColor;
	}

	blockquote {
		margin: 4px 0;
	}

	h1, h2, h3, h4, h5 {
		margin: 1rem 0 1px 0;

		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}

	// paragraph
	// --------------------------------------------------
	p {
		margin: 3px 0 3px 0;
		padding: 3px 0;
		text-align: justify;
		white-space: unset!important;
		color: var(--yii-color) !important;
	}

	// blockquote
	// --------------------------------------------------
	blockquote {
		border-left: 3px solid var(--yii-blockquote-border-color);
		border-radius: 0 4px 4px 0;
		color: var(--yii-blockquote-color);
		background: var(--yii-blockquote-bg-color);
		padding: 2px 10px 2px;

		p {
			margin: 0;
		}
	}

	// code (inline-code)
	// --------------------------------------------------
	p {
		code {
			display: inline-block;
			padding: 0 0.4rem;
			border-radius: 5px;
			font-size: 0.9rem;
			font-weight: 700;
			background: var(--yii-code-bg-color);
		}
	}

	// code block
	// --------------------------------------------------
	pre {
		position: relative;
		display: block;
		margin: 0 !important;
		padding: 54px 1rem 1rem 14px;
		border-radius: 5px;
		background: var(--yii-pre-bg-color);
		font-size: 0.9rem;
		overflow-x: auto;

		code {
			display: block;
			white-space: pre!important;

			&.wrap {
				white-space: pre-wrap!important;
			}

			// Atom One Light: https://github.com/highlightjs/highlight.js/blob/main/src/styles/atom-one-light.css
			// Atom One Dark: https://github.com/highlightjs/highlight.js/blob/main/src/styles/atom-one-dark.css
			.hljs {
				color: #24292e;
				background: #ffffff;
			}
			.hljs {
				color: #383a42;
				background: #fafafa;
			}

			.hljs-comment,
			.hljs-quote {
				color: #a0a1a7;
				font-style: italic;
			}

			.hljs-doctag,
			.hljs-keyword,
			.hljs-formula {
				color: #a626a4;
			}

			.hljs-section,
			.hljs-name,
			.hljs-selector-tag,
			.hljs-deletion,
			.hljs-subst {
				color: #e45649;
			}

			.hljs-literal {
				color: #0184bb;
			}

			.hljs-string,
			.hljs-regexp,
			.hljs-addition,
			.hljs-attribute,
			.hljs-meta .hljs-string {
				color: #50a14f;
			}

			.hljs-attr,
			.hljs-variable,
			.hljs-template-variable,
			.hljs-type,
			.hljs-selector-class,
			.hljs-selector-attr,
			.hljs-selector-pseudo,
			.hljs-number {
				color: #986801;
			}

			.hljs-symbol,
			.hljs-bullet,
			.hljs-link,
			.hljs-meta,
			.hljs-selector-id,
			.hljs-title {
				color: #4078f2;
			}

			.hljs-built_in,
			.hljs-title.class_,
			.hljs-class .hljs-title {
				color: #c18401;
			}

			.hljs-emphasis {
				font-style: italic;
			}

			.hljs-strong {
				font-weight: bold;
			}

			.hljs-link {
				text-decoration: underline;
			}

		}

		.highlighted {
			background: rgba(142, 150, 170, 0.14);
		}
	}

	// color-highlighter
	// --------------------------------------------------
	.color {
		white-space: nowrap;

		&::before {
			content: ' ';
			display: inline-block;
			width: 1em;
			height: 1em;
			border: 1px solid rgba(128, 128, 128, 0.3);
			vertical-align: middle;
			margin-right: 0.1em;
			margin-bottom: 0.15em;
			border-radius: 2px;
			background-color: var(--color);
		}
	}

	//  heading
	// --------------------------------------------------
	.o-heading-view {
		color: var(--yii-color-accent);
	}
	h1, h2, h3, h4, h5 {
		font-weight: 600;
		line-height: 1.3;
		padding: 3px 0;
	}

	h1 {
		font-size: 40px;
		line-height: 1.2;

		&:first-child {
			padding-bottom: 6px;
			margin-bottom: 8px;
		}
	}
	h2 {
		font-size: 1.5rem;
	}
	h3 {
		font-size: 1.25rem;
	}
	h4 {
		font-size: 1.1rem;
	}
	h5 {
		font-size: 1rem;
	}
	mark {
		color: unset;
	}

	//  image
	// --------------------------------------------------
	img {
		max-width: 100%;
		border-radius: 3px;

		&[sizes="small"] {
			max-width: 200px;
		}
		&[sizes="medium"] {
			width: 100%;
			max-width: 600px;
		}
		&[sizes="large"] {
			width: 100%;
			max-width: 100%;
		}
	}

	//  link
	// --------------------------------------------------
	a {
		color: #2196f3;
		text-decoration: none;
		word-break: break-all;

		&:hover {
			color: #2196f3;
			cursor: pointer;
			text-decoration: underline;
		}
	}

	//  list
	// --------------------------------------------------
	ul, ol {
		padding-inline-start: 20px;
		margin-block-start: 4px;
		margin-block-end: 4px;

		ul, ol {
			margin-block-start: 0;
			margin-block-end: 0;
		}
	}

	ul[data-type="taskList"] {
		list-style: none;
		padding: 0;
		p {
			margin: 0;
			line-height: 0.9;
		}
		li {
			display: flex;
			align-items: center;
			> label {
				flex: 0 0 auto;
				margin-top: 4px;
				margin-right: 0.5rem;
				user-select: none;
			}
			> div {
				flex: 1 1 auto;
			}

			&[data-checked="true"] {
				color: rgba(55, 53, 47, 0.5);
				text-decoration: line-through rgba(55, 53, 47, 0.25);
			}
		}
		input {
			width: 16px;
			height: 16px;
			font-size: inherit;
			font-family: inherit;
			color: #000;
			margin: 0.1rem;
			border: 1px solid black;
			border-radius: 1px;
			padding: 0.1rem 0.3rem;
			background: white;
			accent-color: #1976d2;
			cursor: pointer;
		}
	}

	//  selected
	// --------------------------------------------------
	.draggable {
		//padding: 0!important;

		&:has(.o-drag-node.is-selected, .ProseMirror-selectednode) {
			//background: #ACCEF7;
			//border-radius: 4px;
		}
	}

	.ProseMirror-selectednode {
		//background: #ACCEF7;
		//border-radius: 4px;
	}

	//  table
	// --------------------------------------------------
	.o-table-wrapper-view {
		padding: 20px 0 0 20px;
		margin: -20px 0 0 -20px;

		&.side-node-enabled {
			margin: -10px 0 10px -20px;
		}

		&:hover, &:has(.active) {
			.table-handler, .col-handler, .row-handler {
				visibility: visible;
			}
		}

		&.readonly {
			padding: 0;
			margin: 4px 0;
		}

		th:not(:first-child), td:not(:first-child) {
			.row-handler {
				visibility: hidden;
			}
		}

		.selectedCell {
			//border: solid 1px red !important;
		}

		.selectedCell:after {
			//background: transparent!important;
		}

		.o-command-btn {
			//background: transparent!important;
		}

		.indicator {
			position: absolute;
			top: 0;
			left: 0;
			display: flex;
			color: #cccccc;
		}

		.col-handler {
			position: absolute;
			height: 9px;
			top: -10px;
			left: 0;
			right: 0;
			z-index: 1001;
			cursor: pointer;
			background: var(--yii-table-handler-bg-color);
			visibility: hidden;

			&:hover, &.active {
				background: #2172e0;
			}

			.indicator {
				width: 100%;
				height: 20px;
				padding-bottom: 4px;
				justify-content: center;
				align-items: end;
			}

			.add {
				position: absolute;
				top: -30px;
				right: -15px;
				height: 30px;
				width: 30px;
				z-index: 1002;
				//background: red;
				line-height: 0.3;

				&:hover {
					.o-command-btn {
						visibility: visible;
					}
					.indicator {
						visibility: hidden;
					}
				}

				.o-command-btn {
					font-size: 20px;
					cursor: pointer;
					visibility: hidden;
				}
			}
		}

		.row-handler {
			position: absolute;
			width: 9px;
			top: 0;
			left: -10px;
			bottom: 0;
			z-index: 1001;
			cursor: pointer;
			background: var(--yii-table-handler-bg-color);
			visibility: hidden;

			&:hover, &.active {
				background: #2172e0;
			}

			.indicator {
				height: 100%;
				width: 20px;
				padding-right: 4px;
				justify-content: flex-end;
				align-items: center;
			}

			.add {
				position: absolute;
				left: -30px;
				bottom: -15px;
				height: 30px;
				width: 30px;
				z-index: 1002;
				line-height: 0;

				&:hover {
					.o-command-btn {
						visibility: visible;
					}
					.indicator {
						visibility: hidden;
					}
				}

				.o-command-btn {
					font-size: 20px;
					cursor: pointer;
					visibility: hidden;
				}
			}
		}
	}

	table {
		border-collapse: collapse;
		table-layout: fixed;
		width: 100%;
		margin: 4px 0;

		tr {
			width: 100%;
		}

		th {
			font-weight: 700;
			text-align: center;
			background: var(--yii-table-th-bg-color);
		}

		th, td {
			min-width: 1em;
			border: 1px solid var(--yii-table-border-color);
			padding: 3px 8px;
			vertical-align: top;
			box-sizing: border-box;
			position: relative;

			p {
				margin: 2px 0 !important;
			}

			&.has-focus {
				background: var(--yii-table-focus-bg-color);
			}
		}

		.selectedCell {
			&:after {
				z-index: 2;
				position: absolute;
				content: "";
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				background: rgba(200, 200, 255, 0.4);
				pointer-events: none;
			}
		}
	}

	&.yiitap-dragging-preview {
		position: absolute;
		z-index: -1;
		top: -1000vw;
		max-width: 800px;
		table {
			max-width: 800px;
		}

		.o-block-toolbar, .caption {
			display: none;
		}

		img {
			width: 160px;
			height: 90px;
			background: #2c3e50;
			border-radius: 4px;
		}
	}
}

//  table resizer
// --------------------------------------------------
.resize-cursor {
	//cursor: ew-resize;
	cursor: col-resize;
}

.column-resize-handle {
	position: absolute;
	top: 0;
	right: -2px;
	bottom: -2px;
	width: 4px;
	pointer-events: none;
	background-color: #adf;
	//z-index: 20000;
}

// ----------------------------------------------------
//  Dark
// ----------------------------------------------------
.yiitap[data-theme="dark"] .ProseMirror {
	// code block
	// --------------------------------------------------
	pre {
		code {
			.hljs {
				color: #abb2bf;
				background: #282c34;
			}

			.hljs-comment,
			.hljs-quote {
				color: #5c6370;
				font-style: italic;
			}

			.hljs-doctag,
			.hljs-keyword,
			.hljs-formula {
				color: #c678dd;
			}

			.hljs-section,
			.hljs-name,
			.hljs-selector-tag,
			.hljs-deletion,
			.hljs-subst {
				color: #e06c75;
			}

			.hljs-literal {
				color: #56b6c2;
			}

			.hljs-string,
			.hljs-regexp,
			.hljs-addition,
			.hljs-attribute,
			.hljs-meta .hljs-string {
				color: #98c379;
			}

			.hljs-attr,
			.hljs-variable,
			.hljs-template-variable,
			.hljs-type,
			.hljs-selector-class,
			.hljs-selector-attr,
			.hljs-selector-pseudo,
			.hljs-number {
				color: #d19a66;
			}

			.hljs-symbol,
			.hljs-bullet,
			.hljs-link,
			.hljs-meta,
			.hljs-selector-id,
			.hljs-title {
				color: #61aeee;
			}

			.hljs-built_in,
			.hljs-title.class_,
			.hljs-class .hljs-title {
				color: #e6c07b;
			}

			.hljs-emphasis {
				font-style: italic;
			}

			.hljs-strong {
				font-weight: bold;
			}

			.hljs-link {
				text-decoration: underline;
			}
		}
	}
}
