// YiiTap
// ====================================================
.yiitap {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
  color: var(--yii-color);

  .tippy-box {
    max-width: 480px!important;
  }

  .o-bubble-menu, .o-floating-menu {
    background: var(--yii-tippy-popover-bg-color);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2),
    0 2px 2px rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;

    .container {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      padding: 4px;

      .o-divider {
        height: 24px;
      }
    }
  }

  .editor-content {
    overflow-wrap: break-word;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    font-size: 16px;
    padding: 16px 100px;

    &.page-view {
      width: 1000px;
    }

    :focus {
      outline: none;
    }
  }

  button {
    color: var(--yii-color);
  }

  .o-flex {
    display: flex;
    flex-wrap: nowrap;

    button, div {
      flex: 1;
      max-width: 100%;
      word-break: keep-all;
    }
  }

  .o-item-center {
    align-items: center;
  }
}

.yiitap[data-theme="dark"] {
}
